<!DOCTYPE html>
<html>
<head>
  <script src="js/lib/jquery-1.8.3.min.js"></script>
  <script src="js/lib/underscore-min.js"></script>
  <script src="js/lib/backbone-min.js"></script>
  <script src="js/main.js"></script>
  <script type="text/template" id="tv-item-template">
    <% if (typeof showTitle !== 'undefined') { %>
      <td><%= showTitle %></td>
    <% } %>
    <% if (typeof network !== 'undefined') { %>
      <td><%= network %></td>
    <% } %>
    <% if (typeof episodeTitle !== 'undefined') { %>
      <td><%= episodeTitle %></td>
    <% } %>

    <% if (typeof filmComposition !== 'undefined') { %>
      <td><%= filmComposition %></td>
    <% } %>
    <% if (typeof filmTitle !== 'undefined') { %>
      <td><%= filmTitle %></td>
    <% } %>
    <% if (typeof filmYear !== 'undefined') { %>
      <td><%= filmYear %></td>
    <% } %>

    <% if (typeof engAlbum !== 'undefined') { %>
      <td><%= engAlbum %></td>
    <% } %>
    <% if (typeof engArtist !== 'undefined') { %>
      <td><%= engArtist %></td>
    <% } %>
    <% if (typeof engRole !== 'undefined') { %>
      <td><%= engRole %></td>
    <% } %>

    <% if (typeof prodAlbum !== 'undefined') { %>
      <td><%= prodAlbum %></td>
    <% } %>
    <% if (typeof prodArtist !== 'undefined') { %>
      <td><%= prodArtist %></td>
    <% } %>
    <% if (typeof prodRole !== 'undefined') { %>
      <td><%= prodRole %></td>
    <% } %>
    <% if (typeof prodYear !== 'undefined') { %>
      <td><%= prodYear %></td>
    <% } %>

    <% if (typeof seqProj !== 'undefined') { %>
      <td><%= seqProj %></td>
    <% } %>
    <% if (typeof seqRole !== 'undefined') { %>
      <td><%= seqRole %></td>
    <% } %>

    <% if (typeof remixInfo !== 'undefined') { %>
      <td><%= remixInfo %></td>
    <% } %>
    <% if (typeof remixSong !== 'undefined') { %>
      <td><%= remixSong %></td>
    <% } %>
  </script>
  <script type="text/template" id="article-template">
    <h2><%= title %></h2>
    <table>
      <tbody>
      </tbody>
    </table>
  </script>
  <title>Hans J Gutknecht. Discography</title>
</head>

<body>

  <div id="app">
  </div>

</body>
</html>